---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<style>
  html,
  body {
    background: #111;
    height: 100%;
    color: #fff;
    overflow-x: hidden;
  }

  .container {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description {
    max-width: 600px;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    mix-blend-mode: difference;
  }

  .photo {
    position: absolute;
    max-width: 500px;
    mask-image: url('/img/mask.png');
    mask-size: contain;
    mask-repeat: no-repeat;
    animation: moving 3s infinite alternate ease-in-out;
  }

  .figure {
    position: absolute;
    width: 500px;
    max-width: 100%;
    animation: scaling 3s infinite alternate
      cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .button {
    border: none;
    background: #fff;
    color: #000;
    padding: 8px 16px;
    font-size: 20px;
  }

  .text-bg-clip {
    font-size: 100px;
    font-weight: bold;
    background: url('/img/beach.jpg') 0 0 / cover no-repeat;
    background-attachment: fixed;
    background-clip: text;
    color: transparent;
  }

  .text-bg-blend {
    position: relative;
    font-size: 100px;
    font-weight: bold;
    color: yellow;
  }

  .text-highlight {
    position: relative;
    display: inline-block;
    font-style: italic;

    @nest &:hover:after {
      height: 1em;
    }

    @nest &:after {
      content: '';
      display: block;
      position: absolute;
      background: currentcolor;
      width: 100%;
      height: 0.05em;
      bottom: 0;
      mix-blend-mode: difference;
      transition: 0.3s height ease;
    }
  }

  .filter-wrapper {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
  }

  .filter {
    width: 50%;
    margin: 0;

    &.a {
      filter: invert(1) drop-shadow(1px 1px 10px red);
    }

    &.b {
      filter: grayscale(1) contrast(2);
    }

    &.c {
      filter: hue-rotate(90deg);
    }

    &.d {
      animation: rotate-color 2s infinite alternate;
    }
  }

  @keyframes moving {
    from {
      transform: translate(20%, 0%);
    }

    to {
      transform: translate(70%, 20%);
    }
  }

  @keyframes scaling {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  @keyframes rotate-color {
    from {
      filter: hue-rotate(0deg) blur(0);
    }

    to {
      filter: hue-rotate(360deg) blur(5px);
    }
  }
</style>

<BaseLayout title="Blending">
  <div class="container">
    <div class="figure">
      <svg viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="50" fill="#fff"></circle>
      </svg>
    </div>
    <img class="photo" src="/img/beach.jpg" alt="beach" />
    <p class="description">
      <button class="button">Press me!</button>
      <br />
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a maximus felis.
      Cras a ipsum quam. Nulla varius aliquam eros, quis condimentum odio pharetra
      luctus. Aliquam quis consectetur nisi, et pretium ante. Cras egestas iaculis
      tortor quis volutpat. Suspendisse interdum, purus id fermentum cursus, sapien
      ante congue sem, ut convallis libero enim et leo. In volutpat nisi accumsan
      erat mollis volutpat.
      <br />
      <button class="button">Press me!</button>
    </p>
  </div>

  <div class="container">
    <div>
      <p class="text-bg-clip">Hello, World!</p>
      <p class="text-bg-blend">
        Hello, <span class="text-highlight">World!</span>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="filter-wrapper">
      <img class="filter a" src="/img/beach.jpg" alt="beach" />
      <img class="filter b" src="/img/beach.jpg" alt="beach" />
      <img class="filter c" src="/img/beach.jpg" alt="beach" />
      <img class="filter d" src="/img/beach.jpg" alt="beach" />
    </div>
  </div>
</BaseLayout>

<script></script>
