---
import BaseLayout from '../layouts/BaseLayout.astro';

const pages = [
  { url: '/moon', name: 'Moon' },
  { url: '/blending', name: 'Blending' },
  { url: '/cats', name: 'Cats' },
  { url: '/cube3d', name: 'Cube 3D' },
  { url: '/neon-text', name: 'Neon Text' },
  { url: '/image-diff', name: 'Image Diff' },
];
---

<BaseLayout title="Demos">
  <h1>Demos</h1>

  <ul>
    {
      pages.map((page) => (
        <li>
          <a href={page.url}>{page.name}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
