---
import Layout from '../layouts/default.astro';
---

<Layout title="Demos">
  <h1>Demos</h1>

  <ul>
    <li>
      <a href="/moon">Moon</a>
    </li>
    <li>
      <a href="/blending">Blending</a>
    </li>
    <li>
      <a href="/cats">Cats</a>
    </li>
  </ul>
</Layout>
